.App {
  text-align: center;
}

.registerBtn{
  background-color: #5c8cf5;
  color: white;
}

.descText{
  margin-top: 5rem;
}

.sceneImage{
  width: 75%;
  height: 75%;
}

.loginPage{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #323c55;
}

.loginForms{
  border-radius: 3px;
  background-color: #a2d4d2;
  padding: 10%;
}

.accountText{
  margin-top: 1rem;
}

.resetPassBtn{
  color: black;
  margin-right: 0.5rem;
}

.logoutBtn{
  color: red;
}

.todoList{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.createTodoBtn{
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.todoCard{
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.cancelText{
  margin-top: 1rem;
}

@media (min-width: 1024px){
  .contentDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .descText{
    text-align: start;
    padding-left: 10rem;
  }

  .loginTextBtn:hover{
    cursor: pointer;
  }

  .loginForms{
    border-radius: 5px;
    padding: 5%;
  }

  .accountText:hover{
    cursor: pointer;
    color: white;
  }

  .resetPassBtn:hover{
    cursor: pointer;
  }

  .logoutBtn:hover{
    cursor: pointer;
  }

  .cancelText:hover{
    cursor: pointer;
    color: white;
  }
}
